<p>This is the first component</p>
<a href="" routerLink="/routing/second" class="hover:text-sky-700">Second Component</a>
<h1>Check Guards</h1>
<div>
    <a href="" routerLink="/routing/guard" class="text-blue-500 underline hover:text-blue-700">Guard Component</a>
</div>
<div>
    <a href="" routerLink="/routing/guardMatch" class="text-blue-500 underline hover:text-blue-700">Guard Component with canMatch()</a>
</div>
<div>
    <a href="" routerLink="/routing/guardResolve" class="text-blue-500 underline hover:text-blue-700">Guard Component with resolve()</a>
</div>