<div class="flex justify-center">
  <div class="flex-col">
    <div>
      <a
        class="underline text-blue-500"
        routerLink="/component-concept/input-output"
        href=""
        >Go To Input / Output Concept</a
      >
    </div>

    <div>
      <a
        routerLink="/component-concept/content"
        href=""
        class="underline text-blue-500"
      >
        Go to Content Concept
      </a>
    </div>
    <div>
      <a
        routerLink="/component-concept/lifecycle"
        href=""
        class="underline text-blue-500"
      >
        Go to Lifecycle Concept
      </a>
    </div>
    <div>
      <a
        routerLink="/component-concept/view-child"
        href=""
        class="underline text-blue-500"
      >
        View Child Concept
      </a>
    </div>
  </div>
</div>
