<div class="w-8/12 bg-blue-100 mx-auto mt-5">
    <a href="" routerLink="/component-concept" class="ml-4 underline text-blue-500">Go to Component Concept</a>
    <div class="flex-col">
      <p class="pb-3">This is the Input concept component!</p>
      <label
        >Enter the value to be tranformed to upper case in second component &nbsp; </label
      ><input type="text" [(ngModel)]="labelToTransform" />
      <div>
        <label
          >Enter the value to be formatted to number by built in formatter in
          second component &nbsp; </label
        ><input type="text" [(ngModel)]="noToTransform" />
      </div>
      <div>
        The value of the Output from the child component is
        <p class="text-red-600 inline font-bold">{{ outputVal }}</p>
      </div>
      <div>
        The value of the new Output fn from the child component is
        <p class="text-red-600 inline font-bold">{{ newOutputVal }}</p>
        and with subscribing to function is
        <p class="text-red-600 inline font-bold">{{ newOutputValSubscribed }}</p>
        <!-- and with converting the output function to an observable is <p class="text-red-600 inline font-bold">{{ newOutputVal$ | async }}</p>
   -->
      </div>
      <hr class="border-2 border-gray-400 m-2" />
  
      <app-component-second
        [value]="0"
        [label]="labelToTransform"
        [number]="noToTransform"
        (clicked)="handleClick($event)"
        (newOutput)="handleNewOutput($event)"
        [unreal]="'ALIASVAL'"
      ></app-component-second>
    </div>
  </div>